@page "/"
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

<div class="content px-4 container" style="text-align:center">
    <h3>"Lass mal mehr Miteinander sein"</h3>
    <p>Unsere Welt dreht sich jeden Tag gefühlt ein bisschen schneller... 
        In unserem Alltag gehen wir nicht einfach nur arbeiten, wir kümmern uns auch um unsere Karriere.
        Zuhause kümmern wir uns um unsere Wohnung, das Haus oder den Garten. Wir haben Fitnesstracker und Kalorienzähler, 
        die uns dabei helfen uns um unsere Gesundheit zu kümmern.</p>
    <p>Dabei kann es uns manchmal passieren, dass wir die Dinge aus den Augen verlieren, die wirklich von Bedeutung sind.
        "Points of Good" ist ein Open-Source-Projekt, das uns dabei helfen soll, diese Dinge wieder mehr in unseren Alltag einzubauen.</p>
    <div class="example">
        <h4>Das Quest-System</h4>
        <p>Jede Woche erhältst du eine Auswahl an verschiedenen Aufgaben (Quests), die du, wenn du möchtest, annehmen kannst. 
        Wenn du es schaffst, diese Quests abzuschließen, steigst du als Belohnung Stufen auf.</p>
        <img src="./images/WeeklyQuests.jpg" />
        <p>Du kannst auch selber Quests erstellen oder Quests von anderen Usern annehmen und abschließen.
            Um einen Quest zu erstellen musst du einige deiner Punkte als Belohnung vergeben. Wenn du einen Quest abschließt erhältst du 
            dafür die Punkte, die der Ersteller des Quests vergeben hat.
        </p>
    </div>
    <p style="text-align:left">Hier noch ein paar Orientierungspunkte:</p>
    <ul style="text-align:left">
        <li>Generell gilt 10 Punkte = 1 Stunde Aufwand.</li>
        <li>Je ausgeglichener dein Punktestand ist, desto schneller steigst du Stufen auf, wenn du Punkte erhältst oder Quests abschließt.</li>
        <li>Ein zu hoher Punktestand (egal ob im Plus- oder Minus-Bereich) kann dazu führen, dass du keine Stufen mehr aufsteigen kannst.</li>
    </ul>
    <div class="entry-buttons">
        <AuthorizeView>
            <Authorized>
                <NavLink @onclick="BeginSignOut">
                    <div class="main">Abmelden</div>
                </NavLink>
            </Authorized>
            <NotAuthorized>
                <NavLink href="authentication/login">
                    <div class="second">Anmelden</div>
                </NavLink>
                <NavLink href="authentication/register">
                    <div class="main">Registrieren</div>
                </NavLink>
            </NotAuthorized>
        </AuthorizeView>
    </div>
</div>

@code {

    private async Task BeginSignOut(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }
}
