@page "/main"
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Authorization
@using Poof.Talk.Snaps.Transaction
@using Poof.WebApp.Client.Display
@attribute [Authorize]
@inject IApi api

<div class="content px-4">
    <div style="height:10px"></div>
    <PointView Points=-542.43 ActivityScore=0></PointView>
    <div style="height: 50px"></div>
    <div class="centerparent">
        <div class="addtransaction horizontalCentered" @onclick="@OpenAddTransactionDialog">
            <span class="oi oi-plus"></span>
            <p>Transaktion hinzufügen</p>
        </div>
    </div>
    <div style="height:80px"></div>
</div>
<div class="transactions">
    <TransactionView Transactions=@transactions></TransactionView>
</div>

@if (addTransactionDialogOpen)
{
    <ModalDialog OnClose="@CancelAddTransactionDialog" MaxWidth="800px">
        <Content>
            <AddTransactionView Friends=friends TakeFactor=0.5 GiveFactor=0.5 OnSuccess="@UpdateTransactions"></AddTransactionView>
        </Content>
    </ModalDialog>
}

@code {
    private IList<IJSON> transactions = new List<IJSON>();
    private IList<IJSON> friends = new List<IJSON>();
    private bool addTransactionDialogOpen = false;

    protected override async Task OnInitializedAsync()
    {
        await UpdateTransactions();

        api.AddStatusAction("transaction", UpdateTransactions);

        friends.Add(
            new JSONOf(
                new JObject(
                    new JProperty("id", "123-id"),
                    new JProperty("type", "user"),
                    new JProperty("pseudonym", "first-friend"),
                    new JProperty("pseudonumber", 1),
                    new JProperty("score", 20.34),
                    new JProperty("givefactor", 0.5),
                    new JProperty("takefactor", 0.5)
                )
            )
        );

        friends.Add(
            new JSONOf(
                new JObject(
                    new JProperty("id", "123-id"),
                    new JProperty("type", "user"),
                    new JProperty("pseudonym", "second-friend"),
                    new JProperty("pseudonumber", 2),
                    new JProperty("score", 20.34),
                    new JProperty("givefactor", 0.5),
                    new JProperty("takefactor", 0.5)
                )
            )
        );

        friends.Add(
            new JSONOf(
                new JObject(
                    new JProperty("id", "123-id"),
                    new JProperty("type", "user"),
                    new JProperty("pseudonym", "third-friend"),
                    new JProperty("pseudonumber", 3),
                    new JProperty("score", 20.34),
                    new JProperty("givefactor", 0.5),
                    new JProperty("takefactor", 0.5)
                )
            )
        );

        friends.Add(
            new JSONOf(
                new JObject(
                    new JProperty("id", "123-id"),
                    new JProperty("type", "user"),
                    new JProperty("pseudonym", "fourth-friend"),
                    new JProperty("pseudonumber", 4),
                    new JProperty("score", 20.34),
                    new JProperty("givefactor", 0.5),
                    new JProperty("takefactor", 0.5)
                )
            )
        );
    }

    private void OpenAddTransactionDialog()
    {
        this.addTransactionDialogOpen = true;
        StateHasChanged();
    }

    private void CancelAddTransactionDialog()
    {
        this.addTransactionDialogOpen = false;
    }

    private async Task UpdateTransactions()
    {
        this.transactions =
            new JSONOf(
                (await api.Private(new DmGetUserTransactions(), "").Content()).Result()
            ).Nodes("[*]");

        this.addTransactionDialogOpen = false;
        StateHasChanged();
    }
}
