@page "/main"
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Authorization
@using Poof.Talk.Snaps.Transaction
@using Poof.Talk.Snaps.User.Discovery
@using Poof.WebApp.Client.Display
@using Yaapii.Atoms.Text
@attribute [Authorize]
@inject IApi api
@inject IMemory mem

<div class="content px-4">
    <div style="height:10px"></div>
    <PointView Points=userPoints ActivityLevel=userLevel ActivityProgress=userProgress></PointView>
    <div style="height: 50px"></div>
    <div class="centerparent">
        <div class="addtransaction horizontalCentered" @onclick="@OpenAddTransactionDialog">
            <span class="oi oi-plus"></span>
            <p>Dankeschön senden</p>
        </div>
    </div>
    <div style="height:80px"></div>
</div>
<div class="transactions">
    <TransactionView Transactions=@transactions></TransactionView>
</div>

@if (addTransactionDialogOpen)
{
    <ModalDialog OnClose="@CancelAddTransactionDialog" MaxWidth="800px">
        <Content>
            <div style="padding:1rem">
                <AddTransactionView Friends=friends TakeFactor=userTakeFactor GiveFactor=userGiveFactor OnSuccess="@UpdateTransactions"></AddTransactionView>
            </div>
        </Content>
    </ModalDialog>
}

@code {
    private IList<IJSON> transactions = new List<IJSON>();
    private IList<IJSON> friends = new List<IJSON>();
    private double userPoints;
    private double userTakeFactor;
    private double userGiveFactor;
    private int userLevel;
    private double userProgress;
    private bool addTransactionDialogOpen = false;

    protected override void OnInitialized()
    {
        this.userPoints = new DoubleOf(mem.Prop("userPoints", "0")).Value();
        this.userLevel = new IntOf(mem.Prop("userLevel", "1")).Value();
        this.userProgress = new DoubleOf(mem.Prop("userProgress", "0")).Value();
    }

    protected override async Task OnInitializedAsync()
    {
        await UpdateTransactions();

        api.AddStatusAction("transaction", UpdateTransactions);

        this.friends = new AwGetFriends.List(await api.Private(new DmGetFriends(), "").Content());
    }

    private void OpenAddTransactionDialog()
    {
        this.addTransactionDialogOpen = true;
        StateHasChanged();
    }

    private void CancelAddTransactionDialog()
    {
        this.addTransactionDialogOpen = false;
    }

    private async Task UpdateTransactions()
    {
        this.transactions =
            new JSONOf(
                (await api.Private(new DmGetUserTransactions(), "").Content()).Result()
            ).Nodes("[*]");

        var response = await api.Private(new DmGetDetails(), "").Content();
        this.userPoints = new AwGetDetails.Points(response).Value();
        this.userLevel = new AwGetDetails.Level(response).Value();
        this.userProgress = 100.0 * new AwGetDetails.ScoreProgress(response).Value() / new AwGetDetails.ScoreNeeded(response).Value();
        this.userTakeFactor = new AwGetDetails.TakeFactor(response).Value();
        this.userGiveFactor = new AwGetDetails.GiveFactor(response).Value();

        this.mem.Update("userPoints", new TextOf(this.userPoints).AsString());
        this.mem.Update("userLevel", new TextOf(this.userLevel).AsString());
        this.mem.Update("userProgress", new TextOf(this.userProgress).AsString());

        this.addTransactionDialogOpen = false;
        StateHasChanged();
    }
}
