@page "/profile"
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Authorization
@using Poof.Talk.Snaps.User.Configuration
@using Poof.WebApp.Client.Display
@attribute [Authorize]
@inject IApi api

<div class="content px-4">
    <div style="height:10px"></div>
    <div class="pseudonym">
        <p>Pseudonym</p>
        <input type="text" @bind="pseudonym" />
    </div>
    <button @onclick="@UpdatePseudonym">Speichern</button>
</div>

@code {
    private string pseudonym;

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }

    private async Task UpdatePseudonym()
    {
        await api.Private(
            new DmUpdateUserData(this.pseudonym), 
            ""
        ).Touch();
    }
}
