@page "/profile"
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Authorization
@using Poof.Talk.Snaps.User.Configuration
@using Poof.Talk.Snaps.User.Discovery
@using Poof.WebApp.Client.Display
@attribute [Authorize]
@inject IApi api

<div class="content px-4">
    <div style="height:10px"></div>
    <ProfileView ProfilePicture="@pictureUrl" Pseudonym=@pseudonym PseudoNumber=@pseudonumber OnRefresh="@RefreshDetails"></ProfileView>
</div>

@code {
    private string pseudonym;
    private int pseudonumber;
    private string pictureUrl;

    protected override async Task OnInitializedAsync()
    {
        await RefreshDetails();
    }

    private async Task RefreshDetails()
    {
        var response = await api.Private(new DmGetDetails(), "").Content();
        this.pseudonym = new AwGetDetails.PseudoName(response).AsString();
        this.pseudonumber = new AwGetDetails.PseudoNumber(response).Value();
        this.pictureUrl = new AwGetDetails.PictureUrl(response).AsString();
        StateHasChanged();
    }
}
