@page "/profile"
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Authorization
@using Poof.WebApp.Client.Display
@attribute [Authorize]

<div style="height:10px"></div>
<PointView Points=-523.0 ActivityScore=0></PointView>
<div style="height: 50px"></div>
<TransactionView></TransactionView>