@page "/quests"
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Authorization
@using Poof.Demand.Snaps.Quest
@using Poof.Talk.Snaps.User.Discovery
@using Poof.WebApp.Client.Display
@using System.Globalization
@using Yaapii.Atoms.Scalar
@using Yaapii.Atoms.Text
@using Yaapii.Atoms.Map
@using Yaapii.Atoms.Enumerable
@attribute [Authorize]
@inject IApi api
@inject IMemory mem

<div class="content">
    <div class="questbox container">
        <p>7-Tage-Rotation</p>
        @foreach(var quest in Weeklies())
        {
            var id = quest.Value("id");
            <QuestCard 
                Id=@id
                Category=@quest.Value("category")
                Status=@quest.Value("status")
                Title=@quest.Value("title")
                Reward="-"
                Score=@Score(quest.Value("reward"), quest.Value("factor"))
                HasPicture=@(new BoolOf(quest.Value("picture.has")).Value())
                PictureUrl=@quest.Value("picture.url")
                TimeRemaining=@Counter(id)
                Open=OpenQuestDialog
            ></QuestCard>
        }
    </div>
    <div class="questbox container">
        <p>Meine laufenden Quests</p>
        @foreach(var quest in UserQuests())
        {
            var id = quest.Value("id");
            <QuestCard 
                Id=@id
                Category=@quest.Value("category")
                Status=@quest.Value("status")
                Title=@quest.Value("title")
                Reward="-"
                Score=@Score(quest.Value("reward"), quest.Value("factor"))
                HasPicture=@(new BoolOf(quest.Value("picture.has")).Value())
                PictureUrl=@quest.Value("picture.url")
                TimeRemaining=@Counter(id)
                Open=OpenQuestDialog
            ></QuestCard>
        }
    </div>
</div>

@if (showQuestDialogOpen && selectedQuestId != "")
{
    <ModalDialog OnClose="@CancelQuestDialog" MaxWidth="800px">
        <Content>
            <QuestDetails
                Details=@SelectedQuest() 
                Reward="-" 
                Score=@Score() 
                TimeRemaining=@Counter(selectedQuestId) 
                Cancel=CancelQuestDialog
                Confirm=ApplyForQuest>
            </QuestDetails>
        </Content>
    </ModalDialog>
}

@code {
    private IList<IJSON> quests = new List<IJSON>();
    private IDictionary<string, int> counters = new Dictionary<string, int>();
    private double giveFactor = 0.5;
    private System.Timers.Timer timer;
    private bool showQuestDialogOpen = false;
    private string selectedQuestId = "";

    protected override void OnInitialized()
    {
        this.timer = new System.Timers.Timer(1000);
        this.timer.Elapsed += CountClocks;
        this.timer.Enabled = true;
    }

    protected override async Task OnInitializedAsync()
    {
        await Refresh();
    }

    private async Task Refresh()
    {
        this.giveFactor = new AwGetDetails.GiveFactor(await api.Private(new DmGetDetails(), "").Content()).Value();
        this.quests = new JSONOf((await api.Private(new DmGetCatalog(), "").Content()).Result()).Nodes("[*]");
        foreach(var quest in quests)
        {
            if (quest.Value("status") == "open" && new BoolOf(quest.Value("endDate.has")).Value())
            {
                var id = quest.Value("id");
                var date = DateTime.Parse(quest.Value("endDate.value"), CultureInfo.InvariantCulture);
                this.counters[id] = (int)(date.Subtract(DateTime.Now).TotalSeconds);
            }
            else if(quest.Value("status") == "pending")
            {
                var id = quest.Value("id");
                var date =
                    DateTime.Parse(quest.Value("applicant.startDate"), CultureInfo.InvariantCulture)
                    .Add(TimeSpan.FromHours(new IntOf(quest.Value("completionTime")).Value()));
                this.counters[id] = (int)(date.Subtract(DateTime.Now).TotalSeconds);
            }
        }
    }

    public void CountClocks(Object source, System.Timers.ElapsedEventArgs e)
    {
        var allFinished = true;
        foreach(var id in this.counters.Keys)
        {
            if(this.counters[id] > 0)
            {
                this.counters[id] -= 1;
                allFinished = false;
            }
        }
        if(allFinished)
        {
            this.timer.Enabled = false;
        }
        InvokeAsync(() => StateHasChanged());
    }

    private IEnumerable<IJSON> Weeklies()
    {
        return
            new Filtered<IJSON>(quest =>
                quest.Value("scope") == "private" &&
                quest.Value("status") == "open",
                this.quests
            );
    }

    private IEnumerable<IJSON> UserQuests()
    {
        return
            new Filtered<IJSON>(quest =>
                quest.Value("status") == "pending" &&
                new BoolOf(quest.Value("applicant.me")).Value(),
                this.quests
            );
    }

    private string Counter(string id)
    {
        var result = "-";
        if(this.counters.ContainsKey(id) && this.counters[id] > 0)
        {
            var timeLeft = TimeSpan.FromSeconds(this.counters[id]);
            result = "";
            if(timeLeft.Days > 0)
            {
                result = $"{timeLeft.Days}T ";
            }
            result += $"{timeLeft.Hours.ToString("00")}:{timeLeft.Minutes.ToString("00")}:{timeLeft.Seconds.ToString("00")}";
        }
        return result;
    }

    private string Reward(string points)
    {
        return new DoubleOf(points).Value().ToString("F0");
    }

    private string Score()
    {
        var node = SelectedQuest();
        return Score(node.Value("reward"), node.Value("factor"));
    }

    private string Score(string points, string factor)
    {
        return (new DoubleOf(points).Value() * (new DoubleOf(factor).Value() + this.giveFactor)).ToString("F0");
    }

    private void OpenQuestDialog(string quest)
    {
        this.selectedQuestId = quest;
        this.showQuestDialogOpen = true;
        StateHasChanged();
    }

    private async Task ApplyForQuest(string quest)
    {
        await api.Private(new DmAddApplicant(quest), "").Touch();
        await Refresh();
        this.showQuestDialogOpen = false;
        StateHasChanged();
    }

    private void CancelQuestDialog()
    {
        this.showQuestDialogOpen = false;
        StateHasChanged();
    }

    private IJSON SelectedQuest()
    {
        return
            new FirstOf<IJSON>(
                quest => quest.Value("id") == this.selectedQuestId,
                this.quests
            ).Value();
    }
}
