@inherits LayoutComponentBase

<div class="page">

    <div class="main">
        <div class="content px-4">
            <h1>
                Points Of
                <span style="color: #f2e685">G</span><span style="color: #43cd80">O</span><span style="color: #67c9f0">O</span><span style="color: #ed6678">D</span>
                <img src="./images/saemchen.png" />
            </h1>
        </div>
        @Body
    </div>

    <div class="sidebar">
        <NavMenu />
    </div>
</div>