<div class="modal fade show" id="myModal" style="display:block; background-color: rgba(10,10,10,.8);"
     aria-modal="true" role="dialog">
    <div class="modal-dialog" style="max-width:@MaxWidth">
        <div class="modal-content" style="max-height:94vh; overflow-y:auto;">
            <div class="modal-body" style="padding: 0px">
                <button type="button" class="close" @onclick="@ModalCancel">&times;</button>
                @Content
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public RenderFragment Content { get; set; }
    [Parameter]
    public EventCallback OnClose { get; set; }
    [Parameter]
    public string MaxWidth { get; set; }

    private Task ModalCancel()
    {
        return OnClose.InvokeAsync();
    }
}
