.friends {
    flex-flow: row wrap;
    display: flex;
    justify-content: center;
}

    .friends h2 {
        font-size: 1.2em;
        width: 100%;
    }

    .friends .friend {
        position: relative;
        max-width: 600px;
        width: 100%;
        height: 100px;
        border: solid 1px #ddd;
        border-radius: 5px;
        margin: 5px;
        flex-grow: 0;
    }

        .friends .friend .actor {
            position: absolute;
            top: 10px;
            left: 20px;
            width: 80px;
            height: 80px;
        }
            .friends .friend .actor .preview {
                background-color: #43cd80;
                border: solid 5px #54ff9f;
                width: 100%;
                height: 100%;
                border-radius: 50%;
            }

                .friends .friend .actor .preview span {
                    color: white;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translateX(-50%) translateY(-50%);
                    font-size: 1.6em;
                }

            .friends .friend .actor img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
            }

            .friends .friend .actor .score {
                font-family: 'Inconsolata', monospace;
                font-size: 0.85em;
                font-weight: bold;
                position: absolute;
                top: -4px;
                left: 55px;
                background-color: white;
                border: solid 1px #ddd;
                border-radius: 4px;
                padding: 0px 3px;
                margin: 0;
            }

        .friends .friend .name {
            position: absolute;
            top: 55px;
            left: 110px;
            font-size: 1.3em;
            font-weight: bold;
        }

            .friends .friend .name .text {
                color: #000;
            }

            .friends .friend .name .number {
                color: #bbb;
            }

        .friends .friend .factor {
            position: absolute;
            right: 60px;
            top: 30px;
            height: 40px;
            border-radius: 20px;
            background-color: white;
            box-shadow: 0 0 3px #bbb;
            padding: 3px 10px;
            white-space: nowrap;
        }

            .friends .friend .factor img {
                width: 30px;
                height: auto;
                display: inline-block;
                background-color: #bbb;
            }

            .friends .friend .factor .value {
                font-size: 1.2em;
                display: inline-block;
                padding: 2px 1px;
            }


.edit-button {
    position: absolute;
    right: 10px;
    top: 32px;
    height: 36px;
    width: 36px;
    border-radius: 18px;
    cursor: pointer;
}

.remove {
    background-color: #ddd;
    color: #999;
}

.edit-button span {
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

@media(max-width:650px) {
    .edit-button {
        top: 12px;
    }

    .friends .friend .factor {
        top:10px;
    }
}
        