.pointFrame {
    position: relative;
}

.pointBack {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #4af7e3;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
}

.pointFront {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 5.1em;
}

.pointText {
    position: relative;
    margin-top: 120px;
    white-space: nowrap;
}

    .pointText .pointSign{
        position:absolute;
        top: 13px;
        left:68px;
        width:20px;
        height:20px;
        font-size:0.5em;
        border-radius:10px;
        background-color:#eee;
        color: #999
    }

    .pointText .pointSign span {
        position: absolute;
        top:50%;
        left:50%;
        transform:translateX(-50%) translateY(-50%);
    }

    .pointText p {
        font-family: 'Inconsolata', monospace;
        font-weight: 700;
        display: inline-block;
        font-size: 4em;
        vertical-align: middle;
        margin: 0;
    }

    .pointText .pointScale {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 60px;
        vertical-align: middle;
        margin-right: 15px;
    }

        .pointScale .scaleBack {
            position: absolute;
            top: 0;
            left: 0;
            right:0;
            bottom:0;
            margin: 3px;
            background-color: #bbb;
        }

        .pointScale .scaleFront {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

.activityFrame {
    position: relative;
    width: 100%;
    text-align: center;
    height: 70px;
}

.activityLevel {
    position: absolute;
    top: 0;
    left: 0;
    width: 55px;
    height: 70px;
    border-radius: 30px;
    padding: 5px 5px 5px 10px;
    background-color: white;
}

    .activityLevel .oi {
        font-size: 4.5em;
        position: absolute;
        left: -15px;
        top: 10px;
        color: #bbb;
    }

    .activityLevel p {
        margin-bottom: 5px;
        font-size: 0.8em;
    }

    .activityLevel .number {
        font-size: 1.6em;
        font-weight: bold;
        line-height: 1.0;
    }

.activityProgress {
    position: absolute;
    bottom: 5px;
    left: 20px;
    right: 0px;
    border-radius: 20px;
    padding: 5px 10px 0px 32px;
    display: inline-block;
    box-shadow: inset 0px 0px 3px 0px #aaa;
    height: 14px;
}

    .activityProgress span {
        background-color: #67c9f0;
        height: 4px;
        border-radius: 2px;
        display: inherit;
    }