.details {
    background-color: #222;
    color: white;
    border-radius: 2px;
}

    .details .header {
        position: relative;
    }

        .details .header img {
            width: 100%;
            height: auto;
            border-radius: 5px;
        }

        .details .header .overlay {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0px;
            background-image:linear-gradient(transparent 70%, #222 100%)
        }

        .details .header .title {
            color: white;
            position: absolute;
            bottom: 5px;
        }

    .details .content {
        padding: 0.2rem 1rem;
    }

        .details .content .time {
            font-size: 0.9em;
            float: right;
            padding-bottom:10px;
        }

        .details .content .category {
            background-color: #f2e685;
            color: black;
            height: 36px;
            border-radius: 18px;
            padding: 8px;
            display: inline-block;
        }

            .details .content .category .oi {
                font-size: 1.3em;
                vertical-align: middle;
                padding-bottom: 6px;
            }

            .details .content .category span {
            }

        .details .content .reward {
            padding-top: 15px;
            height: 36px;
        }

            .details .content .reward p{
                display: inline-block;
            }

            .details .content .reward .details {
                display: inline-block;
                background-color: #ddd;
                color: black;
                height: 30px;
                padding: 3px 8px;
                border-radius: 15px;
                vertical-align: middle;
            }

                .details .content .reward .details span {
                    font-size: 1.3em;
                    vertical-align: middle;
                }

                .details .content .reward .details a {
                    display: inline-block;
                    width: 20px;
                    text-align: right;
                    padding-right: 5px;
                }

        .details .content .description {
            text-align: center;
            padding-top: 20px;
        }

        .details .content .questlog {
            text-align: center;
            padding:20px;
        }

            .details .content .questlog h3 {
                font-size: 1.4em;
            }

            .details .content .questlog .logcontent {

            }

                .details .content .questlog .logcontent p{
                }

        .details .content .buttons {
            padding: 25px 0px;
            text-align: center;
        }

            .details .content .buttons div {
                display: inline-block;
                padding: 3px 12px;
                margin: 0px 4px;
                border-radius: 15px;
                color: black;
                cursor: pointer;
            }

            .details .content .buttons .disabled {
                cursor: not-allowed;
                background-color: #54ff9f;
                color: #aaa;
            }

            .details .content .buttons .cancel {
                background-color: #ddd;
            }

                .details .content .buttons .cancel:hover {
                    background-color: #eee;
                }

            .details .content .buttons .apply {
                background-color: #43cd80;
            }

                .details .content .buttons .apply:hover {
                    background-color: #54ff9f;
                }

        .details .content .confirmation {
            text-align: center;
            padding: 15px 5px;
        }

        .details .content .finishing {
            padding: 15px;
            text-align: center;
        }

        .details .content .note {
        }

            .details .content .note textarea {
                width: 100%;
                height: 200px;
                border-radius: 5px;
                box-shadow: inset 1px 1px 5px 3px #aaa;
                padding: 5px 10px;
            }

        .details .content .gratulations {
            text-align: center;
            font-size: 1.4em;
            padding: 15px;
        }

        .details .content .activity {
            transition: opacity ease 1s;
            width:300px;
            max-width: 100%;
            height: 80px;
            margin: 40px auto;
        }

        .details .content .hide {
            opacity: 0.0;
        }

        .details .content .show {
            opacity: 1.0;
        }



.title {
    font-size: 1.8em;
    padding-left: 10px;
}