.green {
    background-color: #54ff9f;
}


    .green .oi {
        color: #43cd80;
    }

.quest {
    position: relative;
    max-width: 500px;
    min-width: 300px;
    height: 240px;
    border-radius: 5px;
    margin: 10px;
    box-shadow: -3px 3px 5px 0px #ddd;
    flex-grow: 1;
    text-align: left;
    overflow: hidden;
    transition: 0.3s ease;
    cursor: pointer;
}

    .quest:hover {
        transform: scale(1.05);
    }

    .quest .image {
        object-fit: cover;
        width: 100%;
        height: 100%;
        position: absolute;
    }

    .quest .oi {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 8em;
    }

    .quest .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(transparent 40%, white 70%);
        border-radius: 5px;
    }

    .quest .title {
        position: absolute;
        bottom: 45px;
        left: 10px;
        font-family: 'Quicksand';
    }

    .quest .category {
        position: absolute;
        bottom: 5px;
        left: 10px;
        width: 36px;
        height: 36px;
        background-color: #f2e685;
        display: inline-block;
        padding: 2px 8px;
        border-radius: 18px;
    }

        .quest .category span {
            font-size: 1.3em;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

    .quest .time {
        padding: 4px 10px;
        font-size: 0.7em;
        float: right;
        padding-right: 5px;
        background-color: white;
        border-bottom-left-radius: 14px;
        position: relative;
    }

    .quest .reward {
        position: absolute;
        right: 0;
        bottom: 10px;
        padding-right: 5px;
        background-color: #ddd;
        padding-left: 5px;
        width: 70px;
        height: 25px;
        border-radius: 20px 0px 0px 20px;
    }

        .quest .reward span {
            font-size: 1.7em;
        }

        .quest .reward a {
            font-weight: bold;
            position: absolute;
            right: 8px;
            top: 2px;
        }
