@using Yaapii.Atoms.Text

<div class="centerparent">
    <div class="addtransaction horizontalCentered">
        <span class="oi oi-plus"></span>
        <p>Transaktion hinzufügen</p>
    </div>
</div>

@code {
    protected override void OnInitialized()
    {
        base.OnInitialized();
    }
}
