.transactions {
    flex-flow: row wrap;
    display: flex;
}

    .transactions h2 {
        font-size: 1.2em;
        width: 100%;
    }

    .transactions .transaction {
        max-width: 500px;
        height: 140px;
        padding: 10px;
        position: relative;
        border: solid 1px #ddd;
        border-radius: 5px;
        margin: 5px;
        flex-grow: 1;
    }

        .transactions .transaction h3 {
            font-size: 0.9em;
            font-weight: bold;
            display: inline-block;
            margin: 0;
            padding:0;
        }

        .transactions .transaction .amount {
            position: absolute;
            top: 40px;
            left: 50%;
            transform: translateX(-50%);
            font-family: 'Inconsolata', monospace;
            font-weight: bold;
        }

        .transactions .transaction .date {
            font-size: 0.85em;
            float: right;
            margin: 0;
            padding:0;
        }

        .transactions .transaction .actor {
            position: absolute;
            top: 45px;
            width: 60px;
            height: 60px;
            border-radius:30px;
        }

            .transactions .transaction .actor .preview {
                background-color: #ccc;
                width: 100%;
                height: 100%;
                border-radius: 50%;
            }

                .transactions .transaction .actor .preview span {
                    color: white;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translateX(-50%) translateY(-50%);
                    font-size: 1.6em;
                }
            .transactions .transaction .actor img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
            }

            .transactions .transaction .actor .name {
                position: absolute;
                bottom: -40px;
                font-size: 0.9em;
            }

            .transactions .transaction .actor .score {
                font-family: 'Inconsolata', monospace;
                font-size: 0.85em;
                font-weight: bold;
                position: absolute;
                top: -8px;
                background-color: white;
                border: solid 1px #ddd;
                border-radius: 4px;
                padding: 0px 3px;
                margin: 0;
            }

        .transactions .transaction .left {
            left: 10px;
        }

            .transactions .transaction .left .name {
                left: 0px;
            }

            .transactions .transaction .left .score {
                left: 35px;
            }

        .transactions .transaction .right {
            right: 10px;
        }

            .transactions .transaction .right .name {
                right: 0px;
            }

            .transactions .transaction .right .score {
                right: 35px;
            }

        .transactions .transaction .line {
            position: absolute;
            top: 73px;
            left: 70px;
            right: 70px;
            height: 0;
        }

            .transactions .transaction .line span {
                position: absolute;
                top: -12px;
                left: 50%;
                transform: translateX(-50%);
                color: white;
                width: 24px;
                height: 24px;
                border-radius: 12px;
            }

.blue {
    border: solid 2px #67c9f0;
    box-shadow: 0 0 5px #95dffc;
}

    .blue .inner {
        background-color: #67c9f0;
        padding: 4px 6px;
    }

.green {
    border: solid 2px #54ff9f;
    box-shadow: 0 0 5px #63ff7d;
}

    .green .inner {
        background-color: #54ff9f;
        padding: 4px 5px;
    }